name: Sync to Hugging Face hub

on:
  push:
    branches:
      - main
  workflow_dispatch:  # Allows manual triggering

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - name: Sync with Hugging Face Hub
        uses: nateraw/huggingface-sync-action@v0.0.5
        with:
          github_repo_id: 'samir72/chatassistant_retail'
          huggingface_repo_id: 'samir72/chatassistant_retail'
          hf_token: ${{ secrets.HF_TOKEN }}
          repo_type: 'space'
          space_sdk: 'gradio'  # Change to 'streamlit', 'static', etc., if applicable; optional
          subdirectory: ''     # Optional: sync only a subfolder (leave empty for full repo)